@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --yellow800: #ccad00;
  --yellow700: #f5d000;
  --yellow600: #f8cb46;
  --yellow500: #ffea70;
  --yellow400: #fff099;
  --yellow300: #fff3ab;
  --yellow200: #fff6c2;
  --yellow100: #fffceb;
  --base-dark: #000000;

  --gray900: #666666;
  --gray800: #999999;
  --gray700: #cccccc;
  --gray600: #dddddd;
  --gray500: #eeeeee;
  --gray400: #e8e8e8;
  --gray300: #f2f2f2;
  --gray200: #fcfcfc;
  --gray100: #f7f7f7;
  --base-light: #ffffff;

  --green800: #0c831f;
  --green700: #459220;
  --green600: #54b226;
  --green500: #73c04d;
  --green400: #92ce74;
  --green300: #b1dc9c;
  --green200: #d0eac3;
  --green100: #ecffec;
  --maroon800: #be2e2e;
  --maroon700: #d23333;
  --maroon600: #e73838;
  --maroon500: #eb5c5c;
  --maroon400: #f6787a;
  --maroon300: #f4a4a4;
  --maroon200: #ffdfdf;
  --maroon100: #fff5f5;
  /* RGB */
  --base-dark-200-rgb: 54, 54, 54;
  --base-dark-rgb: 0, 0, 0;
  /* white */

  --white-200-rgb: 255, 255, 255;
  --white-100-rgb: 248, 248, 248;
  /* grey */
  --gray-900-rgb: 105, 105, 105;
  --grey-200-rgb: 31, 31, 31;
  --grey-100-rgb: 28, 28, 28;
}
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.slick-slide > div {
  padding-right: 20px;
}
.slider-container .slick-arrow {
  background-color: rgba(var(--white-200-rgb), 1);
  box-shadow: rgba(var(--base-dark-rgb), 0.2) 0px 3px 5px -1px,
    rgba(var(--base-dark-rgb), 0.14) 0px 6px 10px 0px,
    rgba(var(--base-dark-rgb), 0.12) 0px 1px 18px 0px;
  box-sizing: border-box;
  font-size: 0px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  display: initial;
  border: 4px solid transparent;
  align-self: center;
  cursor: pointer;
}
.slider-container .slick-prev:hover,
.slider-container .slick-prev:focus,
.slider-container .slick-next:hover,
.slider-container .slick-next:focus {
  background-color: rgba(var(--white-100-rgb), 1);
}
.slick-arrow.slick-disabled {
  display: none !important;
}
.slick-arrow.slick-arrow.slick-next {
  left: unset;
}
.slick-arrow.slick-arrow.slick-prev {
  right: unset;
}
.slick-arrow.slick-next::before,
.slick-arrow.slick-prev::before {
  box-sizing: border-box;
  position: absolute;
  width: 9px;
  height: 9px;
  content: "";
  border-right: 2px solid rgba(var(--grey-100-rgb), 1);
  border-bottom: 2px solid rgba(var(--grey-100-rgb), 1);
  border-top: 0px;
  border-left: 0px;
  font-size: 13.5px;
  color: rgba(var(--gray-900-rgb), 1);
  font-weight: bold;
}
.slick-arrow.slick-next::before {
  transform: rotate(-45deg);
  left: 8px;
  top: 9px;
}
.slick-arrow.slick-prev::before {
  transform: rotate(135deg);
  left: 10px;
  top: 9px;
}
